# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
*.log
npm-debug.log*

# OS / IDE
.DS_Store
.vscode/
.idea/

# Test runtime artifacts
artifacts/screenshots/
artifacts/page-source/

# Appium
.appium/

# Build / temporary files
dist/
build/
coverage/
tmp/
artifacts/
